/*==========================
    GOOGLE FONT
==========================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*==========================
    VARIABLES
==========================*/

:root{

    --primary:#0B57D0;
    --secondary:#1E3A8A;
    --green:#25D366;
    --dark:#1f2937;
    --gray:#6b7280;
    --light:#f8fafc;
    --white:#ffffff;

    --shadow:0 10px 30px rgba(0,0,0,.08);

}

/*==========================
    RESET
==========================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{

    font-family:'Poppins',sans-serif;
    color:var(--dark);
    background:white;

}

img{

    width:100%;
    display:block;

}

a{

    text-decoration:none;

}

ul{

    list-style:none;

}

.container{

    width:90%;
    max-width:1200px;
    margin:auto;

}

/*==========================
HEADER
==========================*/

header{

    width:100%;
    background:white;
    position:fixed;
    top:0;
    left:0;
    z-index:999;
    box-shadow:0 2px 15px rgba(0,0,0,.05);

}

.nav{

    display:flex;
    justify-content:space-between;
    align-items:center;
    height:85px;

}

.logo img{

    width:180px;

}

nav ul{

    display:flex;
    gap:35px;

}

nav a{

    color:var(--dark);
    font-weight:500;
    transition:.3s;

}

nav a:hover{

    color:var(--primary);

}

.btn-header{

    background:var(--secondary);
    color:white;
    padding:14px 24px;
    border-radius:50px;
    font-weight:600;
    transition:.3s;

}

.btn-header:hover{

    background:var(--primary);

}

/*==========================
HERO
==========================*/

.hero{
    position: relative;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 150px 0 180px;
    overflow: hidden;
}

.hero::before{
    content: "";
    position: absolute;
    inset: 0;

    background:
        linear-gradient(
            to right,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,.92) 35%,
            rgba(255,255,255,.45) 45%,
            rgba(255,255,255,0) 65%
        ),
        url("../img/hero.png");

    background-size: cover;
    background-position: center;
    z-index: -1;
}
.hero-container{
    position: relative;
    z-index: 2;

    display: flex;
    align-items: center;

    width: 100%;
    min-height: 70vh;
}
.hero-text{
    max-width: 600px;
}

.tag{

    display:inline-flex;
    align-items:center;
    gap:8px;

    padding:8px 18px;

    border-radius:30px;

    background:#eef5ff;

    color:var(--primary);

    font-weight:600;

    margin-bottom:20px;

}

.hero h1{

    font-size:56px;
    line-height:1.15;
    margin-bottom:25px;

}

.hero h1 span{

    color:var(--primary);

}

.hero p{

    font-size:18px;
    color:var(--gray);
    line-height:1.8;
    margin-bottom:35px;

}

.hero-buttons{

    display:flex;
    gap:20px;
    margin-bottom:30px;

}

/*==========================
BOTONES
==========================*/

.btn-whatsapp,
.btn-call{

    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    width:300px;
    padding:18px 28px;
    margin-bottom:15px;

    border-radius:12px;

    font-weight:600;

    transition:all .35s ease;

    position:relative;
    overflow:hidden;

}

.btn-whatsapp{

    background:var(--green);
    color:#fff;
    box-shadow:0 12px 30px rgba(37,211,102,.30);

}

.btn-whatsapp:hover{

    transform:translateY(-6px) scale(1.03);
    box-shadow:0 20px 45px rgba(37,211,102,.45);

}

.btn-call{

    background:#fff;
    color:var(--primary);
    border:2px solid var(--primary);
    box-shadow:0 12px 30px rgba(11,87,208,.15);

}

.btn-call:hover{

    background:var(--primary);
    color:#fff;
    transform:translateY(-6px) scale(1.03);
    box-shadow:0 20px 45px rgba(11,87,208,.30);

}

.btn-whatsapp::before,
.btn-call::before{

    content:"";
    position:absolute;
    top:0;
    left:-120%;
    width:45%;
    height:100%;
    background:rgba(255,255,255,.25);
    transform:skewX(-25deg);
    transition:.7s;

}

.btn-whatsapp:hover::before,
.btn-call:hover::before{
    left:150%;
}


/*==========================
SERVICIOS
==========================*/

.services{

    padding:140px 0 90px;
    background:var(--light);

}
.services h5{
    margin-top:40px;
    margin-bottom:10px;
    color:var(--primary);
    text-align:center;
}
.services h2{

    text-align:center;
    font-size:40px;
    margin-bottom:60px;

}

.cards{

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;

}

.card{

    background:white;
    border-radius:20px;
    overflow:hidden;
    box-shadow:var(--shadow);
    transition:.35s;

}

.card:hover{

    transform:translateY(-10px);

}

.card img{

    height:220px;
    object-fit:cover;

}

.card h3{

    padding:25px 25px 10px;

}

.card p{

    padding:0 25px;
    color:var(--gray);
    line-height:1.7;

}

.card a{

    display:inline-block;
    margin:25px;
    color:var(--primary);
    font-weight:600;

}
/*==========================
FEATURES
==========================*/

.features{

    padding:100px 0;
    background:#f8fafc;

}

.features h2{

    text-align:center;
    font-size:42px;
    margin-bottom:60px;
    position:relative;

}

.features h2::after{

    content:"";
    width:70px;
    height:4px;
    background:#0B57D0;
    border-radius:20px;
    display:block;
    margin:15px auto 0;

}

.feature-grid{

    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:0;
    background:#fff;
    border-radius:20px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.08);

}

.feature{

    padding:45px 30px;
    text-align:center;
    border-right:1px solid #ececec;
    cursor:pointer;
    transition:all .35s ease;

}

.feature:last-child{

    border-right:none;

}

.feature:hover{

    transform:translateY(-10px);
    background:#f8fbff;
    box-shadow:0 20px 40px rgba(11,87,208,.12);

}

.feature i{

    font-size:48px;
    color:#0B57D0;
    margin-bottom:20px;
    transition:transform .35s ease,color .35s ease;

}

.feature:hover i{

    transform:scale(1.15);
    color:#1E3A8A;

}

.feature h3{

    font-size:22px;
    margin-bottom:12px;
    line-height:1.4;
    transition:color .35s ease;

}

.feature:hover h3{

    color:#0B57D0;

}

.feature p{

    font-size:15px;
    color:#666;
    line-height:1.7;

}


/*==========================
NOSOTROS
==========================*/

.about{
    position: relative;
    min-height: 650px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

/* Fondo */
.about::before{
    content:"";
    position:absolute;
    inset:0;

    background:
        linear-gradient(
            to right,
            rgba(255,255,255,1) 0%,
            rgba(255,255,255,.96) 28%,
            rgba(255,255,255,.70) 40%,
            rgba(255,255,255,.20) 52%,
            rgba(255,255,255,0) 62%
        ),
        url("../img/plomero.png");

    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;

    z-index:0;
}

.about-container{
    position: relative;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-height: 650px;
}

/* Texto */
.about-text{
    max-width:600px;
}

.about h2{
    font-size:45px;
    margin-bottom:25px;
    line-height:1.2;
}

.about p{
    color:var(--gray);
    line-height:1.8;
    margin-bottom:30px;
}

/*==========================
PANEL FLOTANTE
==========================*/

.floating-panel{
    position:absolute;
    top:50%;
    right:30px;
    transform:translateY(-50%);

    width:260px;

    display:flex;
    flex-direction:column;
    gap:12px;

    z-index:5;
}

.floating-item{
    display:flex;
    align-items:flex-start;
    gap:14px;

    background:#fff;
    padding:16px 18px;

    border-radius:14px;
    box-shadow:0 10px 30px rgba(0,0,0,.10);

    transition:.3s;
}

.floating-item:hover{
    transform:translateY(-3px);
    box-shadow:0 18px 35px rgba(0,0,0,.15);
}

.floating-item i{
    width:22px;
    min-width:22px;

    font-size:20px;
    color:#2f67ff;

    margin-top:2px;
}

.floating-item strong{
    display:block;
    margin:0;

    font-size:18px;
    font-weight:700;
    color:#1d2433;
    line-height:1.2;
}

.floating-item p{
    margin:4px 0 0;
    font-size:14px;
    color:#7b8190;
    line-height:1.35;
}

/*==========================
FOOTER
==========================*/

footer{

    background:#0d1b3e;
    color:#fff;
    margin-top:0;

}

.footer-container{

    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:50px;
    padding:70px 0;

}


.footer-col p{

    color:#d6d6d6;
    line-height:1.8;
    margin-bottom:12px;

}

.footer-col h3{

    margin-bottom:20px;
    font-size:22px;

}

.footer-col ul{

    padding:0;

}

.footer-col ul li{

    margin-bottom:12px;
    color:#d6d6d6;

}

.footer-col i{

    color:#25D366;
    margin-right:10px;

}

.footer-bottom{

    border-top:1px solid rgba(255,255,255,.15);
    text-align:center;
    padding:20px;

}

.footer-bottom p{

    color:#d6d6d6;

}
/*==========================
ANIMACIONES
==========================*/

.hidden{

opacity:0;
transform:translateY(50px);
transition:1s;

}

.show{

opacity:1;
transform:translateY(0);

}

nav a.active{

color:#0B57D0;
font-weight:700;

}

.pulse{

animation:pulse .8s;

}

@keyframes pulse{

0%{

transform:scale(1);

}

50%{

transform:scale(1.15);

}

100%{

transform:scale(1);

}

}
/*==========================
MENU HAMBURGUESA
==========================*/

.menu-toggle{

    display:none;
    font-size:28px;
    cursor:pointer;
    color:#0B57D0;

}

/*==========================
TRABAJOS
==========================*/

.trabajos{

    padding:100px 0;
    background:#fff;

}

.trabajos-grid{

    display:grid;
    grid-template-columns:1fr 1fr;
    gap:40px;
    align-items:center;

}

.trabajos video{

    width:90%;
    display:block;
    margin:auto;
    border-radius:22px;
    box-shadow:0 18px 40px rgba(0,0,0,.12);

}

.trabajos span{

    display:inline-block;
    color:#0B57D0;
    font-size:14px;
    font-weight:700;
    letter-spacing:2px;
    text-transform:uppercase;
    margin-bottom:15px;

}

.trabajos h2{

    font-size:50px;
    line-height:1.15;
    margin-bottom:25px;
    max-width:550px;
    font-weight:800;

}

.trabajos p{

    max-width:520px;
    font-size:18px;
    line-height:1.9;
    color:#666;

}


/*==========================
BOTÓN WHATSAPP
==========================*/

.whatsapp-float{

    position: fixed;

    right: 25px;

    bottom: 25px;

    width: 65px;

    height: 65px;

    background: #25D366;

    color: white;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-size: 34px;

    box-shadow: 0 10px 25px rgba(0,0,0,.25);

    z-index: 99999;

    transition: .3s;	

}

.whatsapp-float:hover{

    transform: scale(1.1);

    background: #1ebe5d;

}

.whatsapp-float i{

    color: white;

}